body {
    background: lightgreen;

}

h1 {
    font-family: 'Permanent Marker', cursive;
}

li {
    font-family: 'Patua One', cursive;
}

h1 {
    text-align: center;
}

.description {
    
}

#alien {
    border: 1px black solid;
    background-color: white;
    width: 300px;
    height: 400px;
}
