body {
    background-image: radial-gradient(circle, lightgreen, green);
    font-size: 25px;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    position: relative;
}

.content {
    font-family: 'Piedra', cursive;
    text-align: center;
    font-size: 33px;
}

#alien {
    background-color: white;
    border: 5px solid black;
    padding: 10px;
    position: absolute;
    width: 108px;
    top: 0px;
    left: 0;
}

#saucer {
    border: 5px solid black;
    position: absolute;
    width: 130px;
    top: 0px;
    right: 0;
}

#earth {
    width: 200px;
    height: 150.09375px;
    float: left;
    margin-top: 50px;
}

#space {
    width: 200px;
    float: right;
    margin-top: 50px;
}

.frame {
    text-align: center;
}

.input {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

span {
    color: red;
    font-size: 33px;
}