body {
     background-image: radial-gradient(circle, lightgreen, green);
 font-size:25px;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

p {
    font-family: 'Patua One', cursive;
    text-align: center;
}

h1 {
    text-align: center;
}

.description {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#alien {
    border: 1px black solid;
    background-color: white;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
    border: 5px solid black;
}
